<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-hide-webview-popover" version="0.1.0">
    <name>HideWebViewPopover</name>
    <description>Enables or disables the popover view</description>
    <license>Apache 2.0</license>
    <keywords>popover, ios</keywords>
    <js-module src="www/PopoverView.js" name="PopoverView">
        <clobbers target="window.PopoverView" />
    </js-module>
    <platform name="android">
        <source-file src="src/android/HidePopoverView.java" target-dir="src/org/apache/cordova/statusbar" />
        <config-file target="res/xml/config.xml" parent="/*">
            <preference name="webView" value="com.bowlingx.cordova.webview.HidePopoverCapableWebView"/>
            <feature name="HidePopoverView">
                <param name="android-package" value="com.bowlingx.cordova.popover.HidePopoverView" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
    </platform>
    <platform name="ios">
        <header-file src="src/ios/CDVHidePopoverView.h" />
        <source-file src="src/ios/CDVHidePopoverView.m" />
        <config-file target="config.xml" parent="/*">
            <feature name="HideWebViewPopover">
                <param name="ios-package" value="CDVHidePopoverView" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
    </platform>
</plugin>